<%- include('./includes/head', {pageTitle: '401'})//이거 하드코드} %>
</head>

<body>
    <%- include('./includes/header') %>
    
    <main>
        <h1>You are unathenticated nigga</h1>
        <p><a href="/">go back to safety</a></p>
    </main>

<%- include('./includes/footer') %>