<%- include('./includes/head', {pageTitle: 'Canceled!'})//이거 하드코드} %>
</head>

<body>
    <%- include('./includes/header') %>
    
    <main>
        <h1>why did you cancel it mamaa</h1>
        <p><a href="/">keep shoppoing or i'll shoot you </a></p>
    </main>

<%- include('./includes/footer') %>