.cart-item{
    display:flex;
    flex-direction: column;
    border-radius: var(--border-radius-medium);
    background-color: var(--color-gray-700);
    padding: var(--space-4) var(--space-4);
    margin: var(--space-4) 0;
}

.cart-item-action input{
    font: inherit;
    padding: var(--space-2);
    border-radius: var(--border-radius-small);
}

.cart-product-price{
    font-style: italic;
    color: var(--color-gray-300);

}

.cart-item h2{
    font-size: 1rem;
}

#cart-total{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cart-total p{
    font-size : 1.5rem;
    font-weight: bold;
}

@media(min-width: 48rem){
    .cart-item{
        flex-direction: row;
        justify-content: space-between;
    }  
    
    #cart-total{
        flex-direction: row;
        justify-content: space-between;
    }

}