#products-grid {
  display: grid;
  margin: var(--space-8) auto;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: var(--space-2);
}

.product-item {
  text-align: center;
  border-radius: var(--border-radius-medium);
  background-color: var(--color-gray-600);
  overflow: hidden;
  margin: var(--space-4);
}

.product-item img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.product-item-content {
  padding: var(--space-4);
  box-sizing: border-box;
  justify-content: space-between; /* 추가 */
}

.product-item-content h2 {
  font-size: 1.25rem;
  margin: var(--space-2) 0;
}

.product-item-actions {
  display: flex;
  gap: var(--space-2);
  margin-top: var(--space-4);
}

.btn {
  flex: 1;
  text-align: center;
  min-width: 0px;
  text-align: center;
}
